<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.miximum.qotd"
    android:debuggable="false"
    android:versionCode="3"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:icon="@drawable/ic_launcher_qotd"
        android:label="@string/app_name" >

        <activity
            android:name=".QOTD"
            android:label="@string/app_name" >
            <intent-filter>
			    <action android:name="android.intent.action.MAIN" />
			    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".QOTDPreferences"
            android:label="@string/app_name" >
        </activity>

        <receiver android:name=".QOTDWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="fr.miximum.qotd.SHOW_QUOTATION" />
                <action android:name="fr.miximum.qotd.CHANGE_QUOTATION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/qotd_widget_info" />
        </receiver>

        <service android:name=".QOTDWidget$UpdateService" >
        </service>
    </application>

</manifest>